/* Account */

.main-conta {
    padding: 20px;
}

.div-account {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    background-color: var(--verde);
    border-radius: 15px;
    border: 1px solid black;
}

.img-account {
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.div-name-account {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 10px;
}

.name-account {
    font-size: 2em;
}

.email-account {
    font-size: 1.15em;
    font-style: italic;
}

.buttons-account {
    display: flex;
    gap: 15px;
}

.deslogar, .botao-foto-conta {
    font-size: 1.25em;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(79, 220, 74, 1);
    color: black;
    cursor: pointer;
}

:is(.section-carrinho-conta, .section-historico-conta, .section-favoritos-conta) .div-produtos {
    flex-wrap: wrap;
    justify-content: center;
    & .produto {
        flex: 1;
        max-width: 300px;
        flex-basis: 200px;
    }
}

.pMensagemVazioSection {
    color: color-mix(in srgb, currentColor, white 30%);
    font-size: 1.6em;
    margin: auto;
}