/* Formulario Produto */
.main-form-product {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-product {
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
    font-size: 1.3em;
    padding: 15px;
    border-radius: 15px;
}

.div-inputs {
    display: flex;
    gap: 15px;
}

.div-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.div-input input {
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 5px;
    &:user-invalid {
        outline: 2px solid red;
        color: red;
        caret-color: red;
    }
}

.div-botao-envio {
    display: flex;
    justify-content: flex-end;
}

.form-product button {
    padding: 15px;
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.mensagem-compra-finalizada {
    position: fixed;
    bottom: calc(100% - 120px);
    left: 50%;
    translate: -50% 0;
    background-color: white;
    border: 2px solid var(--rosa-escuro);
    padding: 30px;
    max-width: 400px;
    z-index: 15;
    border-radius: 15px;
    font-size: 1.6em;
    animation-name: mensagem-compra;
    animation-duration: .5s;
}

@keyframes mensagem-compra {
    from {
        bottom: 100%;
    }
}