@media screen and (min-width: 1650px) {
    .produto {
        flex-basis: 300px !important;
    }
}

@media screen and (width < 992px) {
    .produto {
        flex-basis: 300px !important;
    }
    .div-footer {
        flex-direction: column !important;
        align-items: center !important;
        gap: 30px !important;
    }
}

@media screen and (width < 768px) {
    .produto {
        font-size: 0.95em !important;
        flex-basis: 210px !important;
    }
    .container-produto {
        flex-direction: column !important;
        align-items: center !important;
        text-wrap: pretty !important;
    }
    .div-comentar {
        .selecionar-nota {
            font-size: 1.6em !important;
        }
        & input {
            font-size: 1em !important;
        }
        & button {
            font-size: 1.1em !important;
        }
    }
    .main-form-product {
        padding: 0 !important;
        padding-top: 15px !important;
    }
    
    .div-inputs {
        flex-direction: column !important;
    }
}

@media screen and (width < 576px) {
    .cabecalho-principal {
        & .div-cabeçalho {
            justify-content: space-around !important;
        }
        & .pesquisa-principal {
            display: none !important;
        }
    }
    .produto {
        font-size: 1.1em !important;
        flex-basis: 300px !important;
    }
    .div-comentar {
        & img {
            display: none !important;
        }
        & form {
            flex-wrap: wrap !important;
        }
        .selecionar-nota {
            width: 100% !important;
            font-size: 1.8em !important;
            max-width: 100% !important;
        }
        & input {
            font-size: 1.3em !important;
            max-width: 100% !important;
        }
    }
    .div-account {
        flex-direction: column !important;
    }

    .main-login {
        padding: 0 !important;
        padding-top: 15px !important;
    }
}
